<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#!/Home">
            <img src="img/img-logo-daimler-svg.png" alt="">
        </a>
    </div>
</nav>
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Überblick <span class="sr-only">(aktuell)</span></a></li>
        <li><a href="#">Berichte</a></li>
        <li><a href="#">Analysen</a></li>
        <li><a href="#">Exportieren</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">Nav-Eintrag</a></li>
        <li><a href="">Noch ein Nav-Eintrag</a></li>
        <li><a href="">Und noch einer</a></li>
        <li><a href="">Anderer Nav-Eintrag</a></li>
        <li><a href="">Mehr Navigation</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">Noch ein Nav-Eintrag</a></li>
        <li><a href="">Und noch einer</a></li>
        <li><a href="">Anderer Nav-Eintrag</a></li>
    </ul>
</div>
<div id="page-wrapper" style="min-height: auto">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Budget</h1>
        </div>
    </div>

</div>
