<h2 class="sub-header">Alle Berichte</h2>
<div class="form-group">
    <label>Suche nach Berichten</label>
    <input class="form-control" placeholder="Suche...">
    </input>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Beschreibung</th>
            <th>Ersteller</th>
            <th>Favorit</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1,001</td>
            <td>Lorem</td>
            <td>ipsum</td>
            <td>dolor</td>
            <td>
                <div class="checkbox">
                    <label>
                        <input value="" type="checkbox">
                        </input>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>1,002</td>
            <td>amet</td>
            <td>consectetur</td>
            <td>adipiscing</td>
            <td>
                <div class="checkbox">
                    <label>
                        <input value="" type="checkbox">
                        </input>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>1,003</td>
            <td>Integer</td>
            <td>nec</td>
            <td>odio</td>
            <td>
                <div class="checkbox">
                    <label>
                        <input value="" type="checkbox">
                        </input>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>1,003</td>
            <td>libero</td>
            <td>Sed</td>
            <td>cursus</td>
            <td>
                <div class="checkbox">
                    <label>
                        <input value="" type="checkbox">
                        </input>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>1,004</td>
            <td>dapibus</td>
            <td>diam</td>
            <td>Sed</td>
            <td>
                <div class="checkbox">
                    <label>
                        <input value="" type="checkbox">
                        </input>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>1,005</td>
            <td>Nulla</td>
            <td>quis</td>
            <td>sem</td>
            <td>
                <div class="checkbox">
                    <label>
                        <input value="" type="checkbox">
                        </input>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>1,006</td>
            <td>nibh</td>
            <td>elementum</td>
            <td>imperdiet</td>
            <td>
                <div class="checkbox">
                    <label>
                        <input value="" type="checkbox">
                        </input>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>1,007</td>
            <td>sagittis</td>
            <td>ipsum</td>
            <td>Praesent</td>
            <td>
                <div class="checkbox">
                    <label>
                        <input value="" type="checkbox">
                        </input>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>1,008</td>
            <td>Fusce</td>
            <td>nec</td>
            <td>tellus</td>
            <td>
                <div class="checkbox">
                    <label>
                        <input value="" type="checkbox">
                        </input>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>1,009</td>
            <td>augue</td>
            <td>semper</td>
            <td>porta</td>
            <td>
                <div class="checkbox">
                    <label>
                        <input value="" type="checkbox">
                        </input>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>1,010</td>
            <td>massa</td>
            <td>Vestibulum</td>
            <td>lacinia</td>
            <td>
                <div class="checkbox">
                    <label>
                        <input value="" type="checkbox">
                        </input>
                    </label>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>